div.users div.form-item {
    width: 200px;
    display: inline-block;
}

div.pids div.form-item {
    width: 200px;
    display: inline-block;
}

div.listdetails div.form-item {
    width: 205px;
    display: inline-block;
}

div.userlists div.form-item {
    width: 205px;
    display: inline-block;
}

.addpid {
  width: 203px;
  display: inline-block;
}

div.addusertolist div.form-item {
    width: 199px;
    display:inline-block;
}

div.removelist div.form-item {
    width: 205px;
    display: inline-block;
}

div.addlistassoc div.form-item {
    width: 203px;
    display: inline-block;
}

div.addnewlist div.form-item {
    width: 203px;
    display: inline-block;
}