div.users div.form-item {
    width: 250px;
    display: inline-block;
}

div.pids div.form-item {
    width: 250px;
    display: inline-block;
}

div.listdetails div.form-item {
    width: 255px;
    display: inline-block;
}